<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>controlador.login_btn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_btn</servlet-name>
        <servlet-class>controlador.login_btn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estudiantes</servlet-name>
        <servlet-class>controlador.estudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productor</servlet-name>
        <servlet-class>controlador.productor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardar</servlet-name>
        <servlet-class>servlet.guardar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_btn</servlet-name>
        <url-pattern>/login_btn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estudiantes</servlet-name>
        <url-pattern>/estudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productor</servlet-name>
        <url-pattern>/productor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardar</servlet-name>
        <url-pattern>/guardar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
